header {
  position: relative;
  height: 100vh;
  background-image: url("../images/jay-no-back-mono.png");
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position: right bottom;
}

header.js-fixed {
  height: 110vh;
}

.header-container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  margin-left: 6%;
  gap: 1rem;
}

header h1 {
  font-size: 4rem;
  margin: 0;
}

header h1 p {
  position: relative;
  font: inherit;
  margin: 0;
  width: fit-content;
  font-weight: 800;
  text-align: left;
  line-height: 130%;
  letter-spacing: -0.03em;
}

header h2 {
  max-width: 65ch;
  font-weight: 200;
  color: var(--shade-500);
  margin: 0;
}

header .fixed-header {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header.js-fixed .fixed-header {
  position: fixed;
}

header.js-fixed .fixed-header.scrolled {
  position: absolute;
  top: auto;
  bottom: 0;
}

header .header-text {
  position: relative;
}

.scroll-button {
  position: absolute;
  bottom: 0;
  padding: 2rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  transition: opacity 250ms;
}

.fixed-header.scrolled .scroll-button {
  opacity: 0;
}

.scroll-button .arrow {
  margin-left: 0.25rem;
}

.scroll-button:hover .arrow,
.scroll-button:focus .arrow {
  animation: bounce-top 1.5s ease-in-out infinite both;
}

section:nth-of-type(even) {
  background-color: var(--shade-100);
}

section .container {
  padding: 5rem 0;
}

section#articles {
  padding-bottom: 5rem;
}

section:last-of-type .container {
  padding-bottom: 0;
}

.section-link {
  text-align: center;
  margin-top: 5rem;
}

.section-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

.section-subtitle {
  font-size: 1.5rem;
  color: var(--grey-text);
  max-width: 60ch;
}

.title-icon {
  display: inline-block;
}

.scrolled .title-icon {
  animation: bounce-top 1s ease-in-out both;
}

.intro a:not([class]) {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--grey-color);
}

.work-container {
  margin: 3rem 0;
}

.work {
  display: flex;
  margin: 3rem 0;
}

.work:nth-of-type(even) {
  flex-direction: row-reverse;
}

.work.scrolled {
  animation: fade-in 1s linear both;
}

.work.scrolled .work-content {
  animation: fade-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.work-image img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  height: auto;
  object-fit: cover;
  object-position: top;
  opacity: 0.8;
  filter: brightness(45%) grayscale(1);
  transition: filter 1000ms;
  cursor: pointer;
}

.work:hover .work-image img,
.work.active .work-image img,
.work:focus-within .work-image img {
  filter: brightness(100%) grayscale(0);
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-content p {
  font-size: 1.25rem;
  color: var(--grey-text);
  margin: 0.5rem 0;
  line-height: 135%;
}

.work-title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--shade-500);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.work-title a {
  color: inherit;
  text-decoration: none;
}

.work-tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work-tags .tag {
  margin-right: 0.3rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.work-links a {
  color: var(--grey-text);
  margin: 2rem auto;
}

.work-links .link-btn {
  border-radius: 0.5rem;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.article,
.card {
  transition: box-shadow 500ms;
}

.article.scrolled:nth-of-type(2) {
  animation-delay: 50ms;
}

.article.scrolled:nth-of-type(3) {
  animation-delay: 100ms;
}

.article:hover,
.article:focus-within,
.card:hover,
.card:focus-within {
  box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
}

.article-image img,
.card-image img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
  filter: contrast(75%) grayscale(1);
  transition: filter 1000ms, opacity 500ms;
}

.article:hover .article-image img,
.article:focus-within .article-image img,
.card:hover .card-image img,
.card:focus-within .card-image img {
  opacity: 1;
  filter: contrast(100%) grayscale(0);
}

.article-content {
  background-color: var(--background-color);
  padding: 1rem;
  height: 100%;
}

.card-content {
  background-color: var(--shade-100);
  padding: 0rem 1rem;
  height: 100%;
}

.card-content .card-title {
  margin-bottom: 0;
}

.article-site a,
.card-site a {
  text-transform: uppercase;
  color: var(--grey-text);
  font-size: 0.9rem;
  transition: color 500ms;
}

.article-site a:hover {
  color: var(--text-color);
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
}

.contact-content .link-btn {
  border-radius: 0;
  margin: 1.5rem 0;
  display: block;
  width: fit-content;
}

.links-container {
  flex: 0 1 300px;
}

.links-container h3 {
  margin: 1.5rem 0 0.5rem;
  text-transform: uppercase;
  color: var(--shade-500);
}

.links-container li {
  margin-bottom: 1rem;
}

.links-container a:hover,
.links-container a:focus {
  text-decoration: underline;
}

.form-container {
  padding: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
}

.name-email-inputs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

form input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 60%;
  font-family: "Inter", sans-serif;
}

form textarea {
  height: 250px;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 60%;
  font-family: "Inter", sans-serif;
}

form input[type="submit"] {
  max-width: 200px;
}

.error {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

footer {
  padding-top: 2rem;
  border-top: 1px solid var(--shade-500);
}

footer.index-footer {
  background-color: var(--background-color);
}

@media screen and (max-width: 960px) {
  header .fixed-header:before {
    height: 51%;
  }
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 721px) {
  .work-container {
    margin: 0 -5rem;
  }

  .work {
    justify-content: space-between;
    margin: 0 5rem;
    padding: 5rem 0;
    border-bottom: 1px dashed var(--shade-300);
  }

  .work.scrolled .work-image {
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .work:nth-of-type(even).scrolled .work-image {
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .work-image,
  .work-content-container {
    width: 50%;
  }

  .work:nth-of-type(odd) .work-content-container {
    margin-left: 3rem;
  }

  .work:nth-of-type(even) .work-content-container {
    margin-right: 3rem;
  }

  .work-content p {
    color: var(--text-color);
  }
}

@media screen and (max-width: 720px) {
  header h1 {
    font-size: 2.5rem;
  }

  header h2 {
    font-size: 1.25rem;
  }

  header {
    background-size: 75vw;
  }

  nav img {
    height: 16px;
  }

  .work,
  .work:nth-of-type(even) {
    flex-direction: column;
  }

  .work-content-container {
    background-color: var(--background-color);
    padding: 2rem;
  }

  .work-links a {
    margin: 2rem auto;
  }

  .work-image img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .articles-container {
    display: flex;
    flex-direction: column;
  }

  .form-container {
    padding: 3rem 0;
  }

  .name-email-inputs {
    display: flex;
    flex-direction: column;
  }

  footer .container {
    display: flex;
    flex-direction: column;
  }
}

@media (prefers-reduced-motion) {
  .work.scrolled,
  .work.scrolled:nth-of-type(odd) .work-image,
  .work.scrolled:nth-of-type(even) .work-image {
    animation: none;
  }
}
