:root,
:root.light {
  --background-color: #fafafa;
  --text-color: #0d1926;
  --shade-100: #efefef;
  --shade-300: #8a8a8a;
  --shade-500: #3d3d3d;
  --secondary-color: #ccd0be;
  --grey-color: #c2bfbc;
  --grey-text: #595959;
}

:root.light header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff23;
}

:root.dark {
  --background-color: #0d1926;
  --text-color: #f7fafc;
  --shade-100: #1a324c;
  --shade-300: #4383cb;
  --shade-500: #8cb0d9;
  --secondary-color: #a67a59;
  --grey-color: #303f50;
  --grey-text: #cfd8e2;
}

:root.dark header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d19265b;
}

:root.dark .nav-logo {
  filter: invert(100%);
}

#light-select .color.text {
  background-color: #000;
}
#light-select .color.shade-100 {
  background-color: #efefef;
}
#light-select .color.shade-300 {
  background-color: #8a8a8a;
}
#light-select .color.shade-500 {
  background-color: #3d3d3d;
}
#light-select .color.background {
  background-color: #fff;
}

#dark-select .color.text {
  background-color: #f7fafc;
}
#dark-select .color.shade-100 {
  background-color: #1a324c;
}
#dark-select .color.shade-300 {
  background-color: #4383cb;
}
#dark-select .color.shade-500 {
  background-color: #8cb0d9;
}
#dark-select .color.background {
  background-color: #0d1926;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1926;
    --text-color: #f7fafc;
    --shade-100: #1a324c;
    --shade-300: #264a73;
    --shade-500: #8cb0d9;
    --secondary-color: #2a556f40;
    --grey-color: #afbecf;
    --grey-text: #cfd8e2;
  }
}
