* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  color: #344563;
  background: #e5e5e5;
  margin: auto;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

h1,
h2 {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header {
  background: rgb(255, 255, 255);
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 7%;
  background-color: transparent;
}

nav a {
  color: #6070ff;
}

.logo {
  width: 200px;
}

.mobile-menu {
  cursor: pointer;
  z-index: 100;
}

.desktop-menu {
  display: none;
}

.close-icon {
  display: none;
  color: #fff;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding: 20% 8%;
  background: #6070ff;
  opacity: 0.95;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu a {
  color: #fff;
}

.showMenu {
  transform: translateY(0);
}

.description p {
  animation: slide-left 1s;
}

@keyframes slide-left {
  from {
    margin-left: 30%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.1rem;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 30%;
  padding-bottom: 30%;
  background: #e5e5e5 url(images/header-white-back-shapes.svg) no-repeat;
  background-size: cover;
}

.connect a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-media {
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
}

.social-media ul {
  display: flex;
  column-gap: 10px;
  font-size: 25px;
  padding: 0;
  margin-top: 8px;
}

.social-media ul a {
  color: #344563;
}

.fa-twitter:hover,
.fa-angellist:hover,
.fa-linkedin-in:hover,
.fa-github:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.card {
  display: grid;
  row-gap: 1.1rem;
  align-items: left;
  padding: 1rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  margin-top: 20%;
  margin-left: 7%;
  margin-right: 7%;
}

.image-container {
  border-radius: 10px;
  background-color: #e0e0e0;
  padding: 20px 2px;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-image-container {
  background-color: #e0e0e0;
  padding: 1px;
  height: 100%;
}

.card img:hover {
  transform: scale(0.98);
  transition-duration: 0.4s;
}

.skip {
  transform: none !important;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}

.flex-breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
}

.categories ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.categories li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  color: #6070ff;
  width: fit-content;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  background-color: transparent;
  padding: 12px;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover,
button:focus {
  color: #fff;
  background-color: #396df2;
}

button:focus {
  color: #fff;
  background-color: #396df2;
}

button:active {
  color: #fff;
  background-color: #172b4d;
}

button:disabled {
  color: #c1c7d0;
  border: 1px solid #c1c7d0;
  background-color: transparent;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  gap: 3rem;
  margin-top: 20%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 30%;
  padding-bottom: 60%;
  background: url(images/white-back-inverted.svg) no-repeat;
  background-size: cover;
}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 18px;
}

.about-skills {
  width: 100%;
  padding: 0 12px;
}

.about-skills > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.accordion-item {
  display: flex;
  flex-direction: row;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 0 -42px 12px 0;
  padding: 12px 0 6px 12px;
  align-items: center;
  gap: 0.8rem;
}

.accordion-btn ul {
  width: 100%;
  padding-inline-start: 0;
}

.accordion-btn > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 42px 24px 0;
}

.language-icon {
  width: 48px;
  padding: 0;
  margin: 0;
}

.accordion-btn > div > h3 {
  font-size: 20px;
  line-height: 1.2;
  color: #344563;
  font-weight: 500;
}

hr {
  border-top: 1px solid #ebecf0;
}

.accordion-btn hr {
  margin: 0 -12px 0 -12px;
  border-top: 1px solid #ebecf0;
}

.canopy {
  color: #344563;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: -30%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 30%;
  padding-bottom: 10%;
  background: url(images/contact-me-back.svg) no-repeat;
  background-size: cover;
}

.form h1 {
  color: white;
}

.form p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 48px;
  padding: 15px 16px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

textarea {
  width: 100%;
  height: 170px;
  padding: 15px 16px;
  margin: 10px 0;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

input[type="submit"] {
  float: left;
  width: fit-content;
  height: 48px;
  color: #6070ff;
  padding: 12px 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #cfd8dc;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

/* ==============Modal Styling============== */

.modal-container {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 10% 5%;
  background-color: #c1c7d0e0;
  display: none;
}

.modal {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  padding: 1.2rem;
  position: relative;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-buttons {
  display: flex;
  gap: 1.2rem;
}

.modal-buttons button {
  padding: 10px 16px;
  font-size: 15px;
}

.modal-buttons .fa-github,
.fa-external-link {
  margin-left: 0.8rem;
}

.modal-content .fa-xmark {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2rem;
}

.flex-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tech-and-buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1.5rem;
}

/* .desc-desk {
  max-width:100%;
} */

/* ==============Desktop version============== */

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .mobile-menu {
    display: none;
  }

  .logo {
    width: 250px;
  }

  .desktop-menu {
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 0;
  }

  .desktop-menu a {
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .desktop-menu a:hover,
  .desktop-menu a:focus {
    color: #6070ff;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1.1rem;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 20%;
    padding-bottom: 20%;
    background: #e5e5e5 url(images/header-bg-desktop.svg) no-repeat;
    background-size: cover;
  }

  .home p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .social-media {
    float: left;
  }

  .social-media li {
    margin-right: 8px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 24px;
    padding: 24px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin-top: 8%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .image-container {
    padding: 30px 2px;
  }

  .modal-image-container {
    padding: 2px;
    height: 100%;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding: 24px;
  }

  .card-text h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .two {
    display: flex;
    flex-direction: row;
  }

  /* .one {
    display: none;
  } */

  .about {
    margin-top: 20%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10%;
    padding-bottom: 25%;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    column-gap: 3rem;
    background: url(images/about-background-desktop.svg) no-repeat;
    background-size: cover;
  }

  .accordion ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .accordion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 122px;
    min-height: 120px;
    margin-right: 0;
  }

  .form {
    text-align: center;
    color: white;
    margin-top: -15%;
    padding: 10% 0;
    background: url(images/contact-form-background-shape-desktop.svg) no-repeat;
    background-size: cover;
  }

  .form-container {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  input {
    min-width: 500px;
    border-radius: 2px;
  }

  textarea {
    min-width: 500px;
    border-radius: 2px;
  }

  input[type="submit"] {
    float: none;
    min-width: 100px;
  }

  .error {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
  }

  .modal-container {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 5% 10%;
    background-color: #c1c7d0e0;
    display: none;
  }

  .modal {
    padding: 2rem;
  }

  .modal-content .fa-xmark {
    padding: 2rem;
  }

  .modal-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .flex-bottom {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .tech-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .desc-desk {
    max-width: 70%;
  }
}
