* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #172B4D;
    font-size: 16px;
    
}

.nav-container {
    background: #ffffff;
    height: 50px;
    max-width: 375px;
}

.wrapper {
    max-width: 327px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 900;
    color: #6070FF;
}

nav .mobile-menu {
    font-size: 25px;
    color: #6070FF;
}

.header-container-mobile {
    position: absolute;
    width: 375px;
    height: 718px;
    left: 0;
    top: 50px;
    background: #fff url("images/header-shapes\ mobile.svg");
}

.intro a {
    font-style: normal;
    font-weight: 500;
    color: #7F8CFF;
}

.social-icons {
    display: flex;
    align-items: center;
    font-size: 25px;
    column-gap: 10px;
    margin-top: 20px;
}